/*main stylesheet for the application*/

html, body {
  height: 60%;
  margin: 0 auto;
  padding: 0;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

/*styles for title*/
.header-container {
  height: 50px;
  background: white;
}
.title {
  padding: 15px;
  font-size: 16px;
}
.center {
  padding-right: 60px;
}
.left {
  float: left;
  overflow:hidden;
}

/*styles for button*/
.button-1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-bottom:25px;
  width: 175px;
}
.button-font {
  text-decoration: none;
  color:white;
}

/*styles for login/ register buttons
  reference- https://dribbble.com/shots/1358062-Social-Login-Buttons
*/
.register-buttons, .login-buttons {
  padding-top:40px;
}
.register-button, .login-button {
  width:220px;
  display: block;
  margin: auto;
  padding:12px;
}
.register-input {
  margin-top:50px;
  padding-bottom:45px;
}

/*Skip links*/
.skip-link, .skip {
  padding-top: 50px;
  font-size: 10px;
  color: #4A4A4A;
  text-decoration:none;
}

/*styles for onboarding page*/
.splash {
  margin-top:200px;
}

/*styles for invtite friends page*/
.invite-friends {
  margin-top: 200px;
  padding: 22px;
}

/*styles for plan a journey*/
#map {
  height: 115%;
  display:none;
}
.hello {
  text-align: left;
  padding-left:24px;
}

h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}

input {
  margin: 40px 25px;
  width: 330px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #BCBCBC;
  background-position: -200px 0;
}
