<!DOCTYPE html>
<html>
  <head>
    <title>Beep- Get Started</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  </head>

  <header class="header-container">
    <div class="title left"><i class="material-icons" onclick="goBack()">keyboard_arrow_left</i></div>
      <script>
          function goBack() {
              window.history.back();
          }
      </script>
    <div class="title center">Get Started</div>
  </header>

  <body>
    <div class="container" id="getstarted">

        <div class="register-input">
          <form action="">
            <input id="" type="e-mail" placeholder="What's your email address?">
            <input id="" type="password" placeholder="Create a password">
          </form>
        </div>

        <button type="button" class="button-1"><a class="button-font" href="plan.html">Register</a></button>

        <div class="register-buttons">
            <img class="register-button" src="img/register-button/register-facebook.png"/>
            <img class="register-button" src="img/register-button/register-twitter.png"/>
        </div>

      <div class="skip-link"><a href="plan.html" class="skip">Skip, I will register later</a></div>

    </div>
  </body>
</html>
