<!DOCTYPE html>
<html>
  <head>
    <title>Beep</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  </head>

  <body>
    <div class="container">
        <div class="splash">
          <h1>BEEP</h1>
          <p>Plan and organise car-shared journey with your friends and family.</p>
          <button type="button" class="button-1"><a class="button-font" href="plan.html">Get Started</a></button>
          <br>
          <a href="">Log in</a>
        </div>
    </div>
  </body>
</html>
