<!DOCTYPE html>
<html>
  <head>
    <title>Beep- Find and Invite Friends</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../static/stylesheets/main.css">
  </head>

  <body>
    <div class="container">
        <div class="send-invitation">
          <h3>Invitation Sent!</h3>
          <p></p>

          <button type="button" class="button-1"><a class="button-font" href="planned-journey.html">View Planned Journey</a></button>

        </div>
    </div>
  </body>
</html>
