<!DOCTYPE html>
<html>
  <head>
    <title>Beep- Invite Friends</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../static/stylesheets/main.css">
  </head>

  <body>
    <div class="container">
        <div class="invite-friends">
          <h3>Share your car with friends and family.</h3>
          <p>Let your friends car be at home. Invite them to ride with you. Less traffic. Less population. Less cost.</p>

          <button type="button" class="button-1"><a class="button-font" href="send-invitation.html">Find and Invite Friends</a></button>

        </div>
    </div>
  </body>
</html>
